<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Draft Waiting Room</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io();
        var username = prompt("Enter your name:");  // Ask for username
        socket.emit("join", username);  // Notify server of new user

        // Listen for messages from server
        socket.on("message", function(data) {
            var messages = document.getElementById("messages");
            messages.innerHTML += `<p>${data}</p>`;
        });

        socket.on("count_change", function(data) {
            if(data == 2){
                window.location.replace('http://127.0.0.1:5000/room1/')
            }
            var message = document.getElementById("player_count")
            message.innerHTML = `<p>${data}/8</p>`;
        });

        // Function to send messages
        function sendMessage() {
            var msgInput = document.getElementById("msg");
            var message = msgInput.value;
            socket.send(message);
            msgInput.value = "";
        }
    </script>
</head>
<body>
    <h2>Draft Waiting Room</h2>
    <div id="player_count"></div>
    <input id="msg" type="text" placeholder="Enter your message">
    <button onclick="sendMessage()">Send</button>
    <div id="messages"></div>
</body>
</html>